  @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap');

  :root {
      --primary: #000B3D;
      --secondary: #00AE88;
      --accent: #F1595C;
      --tertiary: #224BA0;
      --quaternary: #F9B937;
      --black: #363636;
      --white: #fff;
      --grisclaro: #f2f2f2;
      --grisoscuro: #d9d9d9;
      --gris: grey;
      --sombra-clara: 0 10px 25px -10px rgba(0, 0, 0, 0.15);
      --sombra-oscura: 0 30px 40px -20px rgba(0, 0, 0, 0.3);
  }

  * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }

  body {
      font-family: 'Rajdhani', sans-serif;
      font-size: 18px;
  }

  section {
      padding: 3vw;
  }

  .contenedor {
      padding: 1.5rem 0;
  }

  .text-center {
      text-align: center;
  }

  .bg-primary {
      background-color: var(--primary);
  }

  .bg-secondary {
      background-color: var(--secondary);
  }

  .bg-white {
      background-color: #fff;
  }

  .bg-grisclaro {
      background-color: var(--grisclaro);
  }

  .bg-exm {
      background-color: var(--primary);
  }

  .bg-cxo {
      background-color: var(--secondary);
  }

  .bg-pe {
      background-color: var(--accent);
  }

  .bg-pcp {
      background-color: #a90533;
  }

  .bg-op {
      background-color: var(--quaternary);
  }

  .btn-accent {
      color: #fff;
      background-color: var(--accent);
  }

  .btn-accent:hover {
      color: #fff;
      background-color: var(--primary);
  }

  .text-white {
      color: #fff;
  }

  .display-none {
      display: none;
  }

  /*=======================================*/
  /*      ESTILOS BUSCADOR
/*=======================================*/
  .buscador {
      display: flex;
      justify-content: center;
  }

  button {
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
  }

  input {
      max-width: 400px;
      width: 100%;
  }

  /*=======================================*/
  /*      ESTILOS ALL COURSES
/*=======================================*/

  #our-programs {
      padding: 2rem 0;
  }

  #all-courses {
      display: flex;
      justify-content: center;
  }

  #all-courses .container {
      max-width: 1350px;
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  /*contenedor de tags (indicadores)*/
  #all-courses .container .indicador {
      margin-bottom: 15px;
      border-right: none;

  }

  #all-courses .container .indicador #cont-fixed {
      position: relative;
      top: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: var(--white);
      padding: 5% 3%;
  }

  /*contenedor de programas*/
  #all-courses .container #column-programs {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      position: relative;
      padding: 2rem 2%;
  }

  #all-courses .container #content-programs {
      width: 100%;
      opacity: 1;
  }

  /*contenedor tarjeta de programas*/
  #all-courses .container #content-programs .content {
      float: left;
      opacity: 1;
      animation: visible 600ms cubic-bezier(0.45, 0.26, 0.67, 0.74);
  }

  /*estado activo de los tags*/
  #all-courses .container .indicador div.activo {
      border-color: var(--tertiary);
      color: var(--tertiary);
      background-color: rgb(34, 75, 160, 15%);
  }

  #all-courses .container .indicador div.activo .text-tag {
      font-weight: 600;
      color: var(--tertiary);
      position: relative;
  }

  #all-courses .container .indicador .cont-text-tag {
      display: flex;
      align-items: center;
      grid-gap: 1rem;
      padding: 0.6rem;
      cursor: pointer;
      color: #000;
      font-weight: 500;
      line-height: 20px;
      border: 1px solid var(--primary);
      min-height: 60px;
      margin-bottom: 10px;
      text-align: center;
      justify-content: center;
      width: 48%;
  }

  #all-courses .container .indicador .cont-text-tag svg,
  #all-courses .container .indicador .cont-text-tag img {
      fill: var(--black);
      width: 30px;
      min-width: 30px;
      display: none;
  }

  /*==================================================*/
  /*          ESTILOS TARJETAS
/*==================================================*/
  #all-courses .container #content-programs .content {
      margin-bottom: 20px;
      width: 100%;
  }

  #all-courses .container #content-programs .content .item {
      box-shadow: var(--sombra-clara);
      transition: all 200ms;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 100px;
  }

  #all-courses .container #content-programs .content .item:hover {
      box-shadow: var(--sombra-oscura);
      translate: 0 -4px;
      transition: all 200ms;
  }

  #all-courses .container #content-programs .content .item.bg-white {
      border: 1px solid var(--grisclaro);
  }

  #all-courses .container #content-programs .content .item img {
      width: 100%;
      height: auto;
  }

  #all-courses .container #content-programs .content .item .new-pgr {
      background-color: var(--primary);
      position: absolute;
      /* top: 20px;
    right: -30px; */
      top: 0;
      left: 0;
      color: var(--white);
      padding: 3px 20px;
      min-width: 130px;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      border-style: solid;
      border-width: 2px;
      border-color: var(--secondary);
      /* transform: rotate(45deg); */
  }

  #all-courses .container #content-programs .content .item .cont-text-op {
      min-height: 75px;
      padding: 2% 5%;
  }

  #all-courses .container #content-programs .content .item .cont-parraf {
      padding: 0 5% 10px;
  }

  #all-courses .container #content-programs .content .item .cont-text-op h2,
  #all-courses .container #content-programs .content .item .cont-text-op h3 {
      margin-bottom: 2px !important;
  }

  #all-courses .container #content-programs .content .item .cont-text-op h2 {
      color: var(--negromit);
      font-size: 19px;
      line-height: 25px;
      font-weight: 600;
  }

  #all-courses .container #content-programs .content .item .cont-text-op h3 {
      font-weight: 600;
  }

  #all-courses .container #content-programs .content .item .cont-parraf .texto-curos,
  #all-courses .container #content-programs .content .item .cont-text-op h3 {
      font-size: 14px !important;
      line-height: 19px !important;
      color: var(--gris) !important;
  }

  #all-courses .container #content-programs .content .item .content-bottom-item {
      position: absolute;
      width: 100%;
      bottom: 0;
  }

  #all-courses .container #content-programs .content .item .btn-item-pgr {
      margin: 0 5% 20px;
      padding: 8px 16px;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 16px;
      font-weight: 600;
      transition: all 300ms ease-in;
      text-decoration: none;
      display: inline-block;
      transition: all 200ms ease-in;
  }

  #all-courses .container #content-programs .content .item .type-course {
      font-size: 16px;
      padding: 7px 5%;
      text-transform: uppercase;
      font-weight: 600;
  }


  #all-courses .container #content-programs .content .item .content-btn-item {
      display: flex;
      justify-content: space-between;

  }

  /***************FIN DE ESTILOS ALL COURSES*********************/


  /*============================================*/
  /*         BOTONES DE PAGINACION
/*============================================*/
  #paginacion {
      gap: 0.5rem;
      flex-wrap: wrap;
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
  }

  #paginacion button img {
      width: 0.8rem;
      min-width: 0.8rem;
  }

  #paginacion button.number-pag,
  #paginacion button.displace {
      border: 1px solid var(--grisoscuro);
      background-color: var(--grisoscuro);
      color: var(--primary);
      border-radius: 50px;
      width: 35px;
      height: 35px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 28px;
  }

  #paginacion button.displace:disabled {
      background-color: transparent;
  }

  #paginacion button.displace:disabled img {
      filter: opacity(25%)
  }

  #paginacion button.number-pag:disabled {
      background-color: var(--tertiary);
      border: 1px solid var(--tertiary);
      color: var(--white);
  }

  [type="button"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
      cursor: pointer;
  }

  /* fin de botones de paginación */

  /*============================================*/
  /*          MEDIAS QUERY
/*============================================*/

  @media screen and (min-width: 576px) {

      #all-courses .container .indicador #cont-fixed {
          justify-content: initial;
          box-shadow: var(--sombra-clara);
      }

      #all-courses .container .indicador .cont-text-tag {
          width: 50%;
          border: none;
          border-radius: 0;
          min-height: auto;
          margin-bottom: auto;
          text-align: left;
          justify-content: initial;
      }

      #all-courses .container .indicador .cont-text-tag svg,
      #all-courses .container .indicador .cont-text-tag img {
          display: block;
      }

      #all-courses .container .indicador div.activo {
          background-color: transparent;
      }

      #all-courses .container .indicador div.activo .text-tag::after {
          content: '';
          width: 100%;
          height: 3px;
          background-color: var(--tertiary);
          position: absolute;
          left: 0;
          bottom: -10px;
      }

      #all-courses .container #column-programs {
          padding: 2rem 1rem;
      }

      #all-courses .container #content-programs {
          display: flex;
          flex-wrap: wrap;
          /* padding: 1rem; */
      }

      #all-courses .container #content-programs .content {
          width: 50%;
          padding: 5px 10px;
          max-height: 360px;
      }
  }

  @media screen and (min-width: 768px) {
      #all-courses .container #content-programs .content {
          width: 33.33333%;
      }
  }

  @media screen and (min-width: 992px) {
      /* .fixed-tags {
        position: fixed !important;
        top: 130px !important;
        width: 22.4vw;
    } */

      /*contenedor de seccion*/
      #all-courses .container {
          flex-direction: row;
      }

      /*seccion tags*/
      #all-courses .container .indicador {
          flex: 23%;
          flex-direction: column;
          flex-wrap: nowrap;
          padding: 2.5rem 0;
      }

      #all-courses .container .indicador div.activo {
          border: none;
      }

      #all-courses .container .indicador .cont-text-tag {
          width: 100%;
          border-bottom: none;
      }

      /*seccion tarjetas*/
      #all-courses .container #column-programs {
          flex: 77%;
          padding-bottom: 0;
      }

      #all-courses .container #content-programs {
          height: 100%;
      }

      /*boton de otros programas*/
      #btn-more-pgr {
          display: none;
      }
  }


  @media screen and (min-width: 1350px) {
      /* #all-courses .container #content-programs .content {
        width: 33.33333%;
    } */

      /* .fixed-tags {
        width: 303px;
    } */
  }

  /*============================================*/
  /*          ANIMACIÓN VISBLE TAGS
/*============================================*/
  @keyframes visible {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }